<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="#" class="header__logo">
				<svg>
					<use xlink:href="#logo"></use>
				</svg>
			</a>
			<div class="header__items">
				<div class="header__select">
					<span class="header__select-btn">
						<span>New York</span>
						<svg>
						    <use xlink:href="#down-arrow"></use>
						</svg>
					</span>
					<div class="header__select-dropdown">
						<ul>
							<li><a href="#">Lorem ipsum.</a></li>
							<li><a href="#">Lorem ipsum.</a></li>
							<li><a href="#">Lorem ipsum.</a></li>
							<li><a href="#">Lorem ipsum.</a></li>
							<li><a href="#">Lorem ipsum.</a></li>
						</ul>
					</div>
				</div>
				<a href="#" class="header__notifications">
					<svg>
						<use xlink:href="#bell"></use>
					</svg>
				</a>
				<a href="#" class="header__massanges">
					<svg>
						<use xlink:href="#envelope"></use>
					</svg>
				</a>
				<a href="#" class="header__cabinet">
					<span class="header__cabinet-user">Will Smith</span>
					<img src="img/will-smith.jpg" alt="user-photo" class="header__cabinet-photo">
				</a>
				<a href="#" class="header__search">
					<svg>
						<use xlink:href="#magnifying-glass"></use>
					</svg>
				</a>
				<span class="header__menu openMenuJs" data-info="menu">
					<span class="header__menu-wrap">
						<span class="top"></span>
						<span class="middle"></span>
						<span class="bottom"></span>
					</span>
				</span>
			</div>
		</div>
	</div>
</header>
