<nav class="nav navJS">
	<div class="container">
		<div class="nav__wrap">
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link">Menu item</a>
			<a href="#" class="nav__link nav__link_mob">
				<svg>
					<use xlink:href="#bell"></use>
				</svg>
				Notifications
			</a>
			<a href="#" class="nav__link nav__link_mob">
				<svg>
					<use xlink:href="#envelope"></use>
				</svg>
				Massanges
			</a>
			<a href="#" class="nav__link nav__link_mob">
				<img src="img/will-smith.jpg" alt="user-photo">
				Cabinet
			</a>
		</div>
	</div>
</nav>
