<div class="reviews">
	<div class="reviews__controls">
		<div class="reviews__search">
			<input type="text" placeholder="Search...">
		</div>
		<div class="reviews__btns">
			<div class="reviews__btn">
				<svg>
					<use xlink:href="#add"></use>
				</svg>
				<span>Add item</span>
			</div>
			<div class="reviews__btn">
				<svg>
					<use xlink:href="#filter"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="reviews__wrap">
		<div class="review">
			<div class="review__photo">
				<img src="img/webp/matthew.webp" alt="user-photo" class="review__photo">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							2
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							20m
						</a>
					</div>
				</div>
			</div>

			<div class="review__content">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
							    <use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							2
						</a>
						<a href="#">
							<svg>
							    <use xlink:href="#time"></use>
							</svg>
							20m
						</a>
					</div>
				</div>
				<span class="review__title">
					Item title 1
				</span>
				<p class="review__text">
					Suspendisse potenti. Duis imperdiet ex non leo condimentum efficitur. Sed rhoncus eleifend lacus sit amet faucibus. Nunc semper nisl a dolor pretium dapibus quis quis lacus. Nulla faucibus viverra laoreet. Fusce in scelerisque magna. Duis porta erat vitae lectus lacinia tempus.
				</p>
				<div class="review__tags">
					<svg>
						<use xlink:href="#tag-black-shape"></use>
					</svg>
					<p>tag1, tag2, tag3</p>
				</div>
			</div>
		</div>
		<div class="review">
			<div class="review__photo">
				<img src="img/webp/brad.webp" alt="user-photo" class="review__photo">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Member</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							13
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							50m
						</a>
					</div>
				</div>
			</div>

			<div class="review__content">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							13
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							50m
						</a>
					</div>
				</div>
				<span class="review__title">
					Item title 2
				</span>
				<p class="review__text">
					Suspendisse potenti. Duis imperdiet ex non leo condimentum efficitur. Sed rhoncus eleifend lacus sit amet faucibus. Nunc semper nisl a dolor pretium dapibus quis quis lacus. Nulla faucibus viverra laoreet. Fusce in scelerisque magna. Duis porta erat vitae lectus lacinia tempus.
				</p>
				<div class="review__tags">
					<svg>
						<use xlink:href="#tag-black-shape"></use>
					</svg>
					<p>tag1, tag2, tag3</p>
				</div>
			</div>
		</div>
		<div class="review">
			<div class="review__photo">
				<img src="img/webp/scarlet.webp" alt="user-photo" class="review__photo">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Member</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							5
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							10m
						</a>
					</div>
				</div>
			</div>

			<div class="review__content">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							5
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							10m
						</a>
					</div>
				</div>
				<span class="review__title">
					Item title 3
				</span>
				<p class="review__text">
					Suspendisse potenti. Duis imperdiet ex non leo condimentum efficitur. Sed rhoncus eleifend lacus sit amet faucibus. Nunc semper nisl a dolor pretium dapibus quis quis lacus. Nulla faucibus viverra laoreet. Fusce in scelerisque magna. Duis porta erat vitae lectus lacinia tempus.
				</p>
				<div class="review__tags">
					<svg>
						<use xlink:href="#tag-black-shape"></use>
					</svg>
					<p>tag1, tag2, tag3</p>
				</div>
			</div>
		</div>
		<div class="review">
			<div class="review__photo">
				<img src="img/webp/robert.webp" alt="user-photo" class="review__photo">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							23
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							36m
						</a>
					</div>
				</div>
			</div>

			<div class="review__content">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							23
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							36m
						</a>
					</div>
				</div>
				<span class="review__title">
					Item title 4
				</span>
				<p class="review__text">
					Suspendisse potenti. Duis imperdiet ex non leo condimentum efficitur. Sed rhoncus eleifend lacus sit amet faucibus. Nunc semper nisl a dolor pretium dapibus quis quis lacus. Nulla faucibus viverra laoreet. Fusce in scelerisque magna. Duis porta erat vitae lectus lacinia tempus.
				</p>
				<div class="review__tags">
					<svg>
						<use xlink:href="#tag-black-shape"></use>
					</svg>
					<p>tag1, tag2, tag3</p>
				</div>
			</div>
		</div>
		<div class="review">
			<div class="review__photo">
				<img src="img/webp/will-smith.webp" alt="user-photo" class="review__photo">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							9
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							11m
						</a>
					</div>
				</div>
			</div>

			<div class="review__content">
				<div class="review__info">
					<div class="review__user">
						<span class="review__user-name">User name</span>
						<span class="review__user-status">Pro</span>
					</div>
					<div class="review__statistics">
						<a href="#">
							<svg>
								<use xlink:href="#speech-bubbles-comment-option"></use>
							</svg>
							9
						</a>
						<a href="#">
							<svg>
								<use xlink:href="#time"></use>
							</svg>
							11m
						</a>
					</div>
				</div>
				<span class="review__title">
					Item title 5
				</span>
				<p class="review__text">
					Suspendisse potenti. Duis imperdiet ex non leo condimentum efficitur. Sed rhoncus eleifend lacus sit amet faucibus. Nunc semper nisl a dolor pretium dapibus quis quis lacus. Nulla faucibus viverra laoreet. Fusce in scelerisque magna. Duis porta erat vitae lectus lacinia tempus.
				</p>
				<div class="review__tags">
					<svg>
						<use xlink:href="#tag-black-shape"></use>
					</svg>
					<p>tag1, tag2, tag3</p>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews__pagination">
		<a href="#" class="reviews__pagination-item reviews__pagination-item_prev">
			<span>
				<svg>
				<use xlink:href="#down-arrow"></use>
			</svg>
				Previous
			</span>
		</a>
		<a href="#" class="reviews__pagination-item reviews__pagination-item_next">
			<span>
				Next
				<svg>
					<use xlink:href="#down-arrow"></use>
				</svg>
			</span>
		</a>
	</div>
</div>
