<div class="sidebar sidebarJS">
	<div class="sidebar__wrap">
		<ul class="sidebar__list">
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
		</ul>
		<span class="sidebar__title">Submenu1</span>
		<ul class="sidebar__list">
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
		</ul>
		<span class="sidebar__title">Submenu2</span>
		<ul class="sidebar__list">
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
		</ul>
		<span class="sidebar__title">Submenu3</span>
		<ul class="sidebar__list">
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item ubmenu</a></li>
		</ul>
		<span class="sidebar__title">Submenu4</span>
		<ul class="sidebar__list">
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item</a></li>
			<li class="sidebar__item"><a href="#">Submenu item item</a></li>
			<li class="sidebar__item"><a href="#">Submenu itemitem </a></li>
		</ul>
	</div>
	<div class="sidebar__btn sidebarBtnJS" data-info="sidebar">
		<svg>
			<use xlink:href="#chevron"></use>
		</svg>
	</div>
</div>
