<form class="filter js-filter">
	<div class="filter__wrap js-filter-wrap">
		<div class="filter__label">
			<span>Фильтр</span>
			<span class="close js-filter-mob-close">Отмена</span>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Фамилия</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Имя</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Отчество</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Год рождения</span>
				<div class="filter__range">
					<input type="tel" placeholder="с 1991">
					<span>-</span>
					<input type="tel" placeholder="по 1993">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Пол</span>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Мужской</span>
					</label>
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Женский</span>
					</label>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Семейное положение</span>
				<div class="filter__checkboxes">
					<label class="filter__checkbox checkbox__label">
						<input type="checkbox" class="checkbox__label-check">
						<span class="checkbox__label-text">Замужем / женат</span>
					</label>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Страна</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>

		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Город</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Адрес</span>
				<div class="filter__address">
					<div class="filter__address-item">
						<div class="filter__input">
							<svg>
								<use xlink:href="#search"></use>
							</svg>
							<input type="text" placeholder="Улица">
						</div>
					</div>
					<div class="filter__address-item">
						<div class="filter__input">
							<svg>
								<use xlink:href="#search"></use>
							</svg>
							<input type="text" placeholder="Дом">
						</div>
					</div>
					<div class="filter__address-item">
						<div class="filter__input">
							<svg>
								<use xlink:href="#search"></use>
							</svg>
							<input type="text" placeholder="Квартира">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__block">
				<span class="filter__title text-medium">Индекс</span>
				<div class="filter__input">
					<svg>
						<use xlink:href="#search"></use>
					</svg>
					<input type="text">
				</div>
			</div>
		</div>
		<div class="filter__btn js-filter-btns">
			<button class="btn-style js-filter-show-btn" disabled>Найти</button>
			<span class="btn-style btn-white hidden js-filter-reset">Сбросить</span>
		</div>
	</div>
</form>
