@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Medium.woff2') format('woff2'),
        url('subset-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('subset-PTRootUI-Regular.woff2') format('woff2'),
	url('subset-PTRootUI-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('subset-PTRootUI-Medium.woff2') format('woff2'),
	url('subset-PTRootUI-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

