<div class="pagination">
		<div class="pagination__back">
			<a href="#" class="btn-style btn-style_blue">
			<span>Назад</span>
			</a>
		</div>
		<div class="pagination__pages">
			<div class="pagination__pages-wrap">
				<a href="#" class="pagination__page">2</a>
				<span class="pagination__page active">3</span>
				<span class="pagination__page pages-dots">...</span>
				<a href="#" class="pagination__page">5</a>
			</div>
		</div>
		<div class="pagination__next">
			<a href="#" class="btn-style btn-style_blue">
				<span>Показать еще</span>
			</a>
		</div>
</div>
