<div class="table js-table">
	<div class="table__row table__header">
		<span class="table__cell"></span>
		<span class="table__cell">
			<span>ФИО</span>
		</span>
		<span class="table__cell">
			<span>Дата рождения</span>
		</span>
		<span class="table__cell">
			<span>Адрес</span>
		</span>
		<span class="table__cell">
			<span>Компания</span>
		</span>
	</div>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
	<a href="#" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox__label">
					<input type="checkbox" class="checkbox__label-check">
					<span class="checkbox__label-text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>Ничипорук Игорь Александрович</span>
		</span>
		<span class="table__cell">
			<span>22.08.1991</span>
		</span>
		<span class="table__cell">
			<span>г. Брест, ул. Московская 311-36</span>
		</span>
		<span class="table__cell">
			<span>СООО Автосеть</span>
		</span>
	</a>
</div>
