<div class="table js-table">
	<div class="table__row table__header">
		<span class="table__cell"></span>
		<span class="table__cell">
			<span>ФИО</span>
		</span>
		<span class="table__cell">
			<span>Дата рождения</span>
		</span>
		<span class="table__cell">
			<span>Адрес</span>
		</span>
		<span class="table__cell">
			<span>Компания</span>
		</span>
	</div>
	<div class="table__row-group js-table-body">
		{{> contactsTableRow}}
	</div>
</div>
