<div class="container">
		<div class="contacts__wrap">
			<div class="contacts__filter">
				{{> filter }}
			</div>
			<div class="contacts__block">
				<div class="contacts__block-title">
					<div class="js-title-wrap">
						<h1 class="text-medium">Контакты</h1>
						<a href="#/contact-add/" class="add-contact btn-style btn-style_blue">
							<span>
								<svg class="">
									<use xlink:href="#user-plus"></use>
								</svg>
								Добавить контакт
							</span>
						</a>
					</div>
				</div>
				<div class="contacts__block-wrap">
					<div class="filter__btn-mob js-filter-mob-btn">
						<svg>
							<use xlink:href="#settings"></use>
						</svg>
						<span>Фильтр</span>
					</div>
					<div class="hashtags js-filter-hashtags"></div>
					{{> contactsTable }}
					<div class="contacts__controls js-contacts-control">
						<span class="contacts__controls-total js-contacts-counter">Выбрано: 0 / 0</span>
						<div class="contacts__controls-btns js-contacts-controls hidden">
							<!--<span class="edit">
								<svg>
								    <use xlink:href="#edit"></use>
								</svg>
								Редактировать
							</span>-->
							<span class="delete js-delete-contact">
								<svg>
								    <use xlink:href="#trash-can"></use>
								</svg>
								Удалить
							</span>
							<div class="options hidden js-controls-options">
								<span class="btn-style btn-style_blue js-delete-ok">Удалить</span>
								<span class="btn-style btn-style_gray js-delete-cancel">Отменить</span>
							</div>
						</div>
					</div>
					<div class="contacts__show js-show-items">
						<span>Показать по:</span>
						<span class="items-count js-show-option {{#ifCond showContactsCount '==' '2'}} active {{/ifCond}}" data-show="2">2</span>
						<span class="items-count js-show-option {{#ifCond showContactsCount '==' '5'}} active {{/ifCond}}" data-show="5">5</span>
					</div>

				</div>
				{{> pagination }}
			</div>
		</div>
	</div>
