<div class="hashtags hidden">
	<div class="hashtags__item">
		<span class="btn-style">
			Великобритания
			<svg>
			    <use xlink:href="#close"></use>
			</svg>
		</span>
	</div>
	<div class="hashtags__item">
		<span class="btn-style">
			Николай II
			<svg>
			    <use xlink:href="#close"></use>
			</svg>
		</span>
	</div>
	<div class="hashtags__item">
		<span class="btn-style">
			18 грош
			<svg>
			    <use xlink:href="#close"></use>
			</svg>
		</span>
	</div>
	<div class="hashtags__item">
		<span class="btn-style">
			Золото
			<svg>
			    <use xlink:href="#close"></use>
			</svg>
		</span>
	</div>
	<div class="hashtags__item">
		<span class="btn-style">
			Металл
			<svg>
			    <use xlink:href="#close"></use>
			</svg>
		</span>
	</div>
	<div class="hashtags__cleaner js-filter-reset">
		<span class="btn-style btn-gray">
			Очистить
		</span>
	</div>
</div>
